.result {
  min-height: 200px;
}

.lens {
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-icon {
    /* width: 100px;
    height: 100px; */
    /* width: 45px;
    height: 45px; */
}
