* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #ffffff;
}

.global-animation {
  animation: global 0.5s;
}

@keyframes global {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}